@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%; 
}

body {
    font-family: montserrat, arial, verdana;
}

.err {
	text-align: center;
	font-size: 150%
}

.err-msg {
	text-align: center;
	margin-top: 50px;
}

.wrapper{
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
}

.panels{
  list-style-type: none;
  padding: 0;
}

.panels li{
  position: relative;
  width: 25%;
  margin: 0;
  display: block;
  box-sizing: border-box;
  float: left
}

.panels li div{
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0;
  cursor: pointer;
}

/*// ANIMATION STYLES //*/

.panels div.back {
  transform: rotateY(90deg);
}

.panels div.front {
  position: absolute;
}

.panels li:hover div.front {
  animation: twirl 0.2s ease-in forwards;
}
.panels li:hover div.back {
  animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

@keyframes twirl {
  0%{ transform: rotateY(0deg)}
  100% {transform: rotateY(90deg)}
}