@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%; 
}

body {
    font-family: montserrat, arial, verdana;
    background-color: #F0FFF0;
}

.rate, .ratingResult {
    font-size: 1.2em;
}

nav {
	margin-top: 20px;
	background-color: #bd5b00;
    padding: 10px 15px 5px;
    text-align: center;

}

.circleBehind a {
	color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.circleBehind a:before, div.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #bd5b00;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.link-css a {
    font-size: 150%;
}

.link-css a:link {
    color:saddlebrown;
}

.link-css a:visited {
    color:brown;
}

.link-css a:hover {
    text-decoration:none;
    cursor: -webkit-grabbing; cursor: grabbing;
    color: blue;
}

.div-search {
    margin-top: 100px;
    text-align: center;
}

.new-search-form {
    font-size: 1.5em;
    height: 100%;
    display: inline-block;
}

.ip-new-search-form {
    width: 200px;
    height: 25px;
}

.editComments {
    font-size: 1.5em;
}

.rateAgain {
    margin-top: 100px;
    text-align: center;
}

.new-comment-form {
    font-size: 1.5em;
    height: 100%;
    display: inline-block;
}

.ip-new-comment-form {
    width: 200px;
    height: 25px;
}

.reCommentButton {
    margin-top: 30px;
    font-size: 0.8em;
    width: 85px;
    height: 35px;
    border-radius: 20%;
    background-color: #bd5b00;
    color: white;
}

.searchButton {
    margin-top: 30px;
    font-size: 0.8em;
    width: 85px;
    height: 35px;
    border-radius: 20%;
    background-color: #bd5b00;
    color: white;
}