<nav>
    <div class="circleBehind">
                <a href="/login">HOME</a>
                <a>HOW IT WORKS</a>
                <a href="/logout">LOGOUT</a>
    </div>
</nav>

<div class="bg">
    
        <div class="title">
            <h1 class="animation-aboutus"><br/>The Team - Group 12</h1>
        </div>

        <br>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="./public/images/jp.jpg" alt="Janiece Pandya">
                <h2>Janiece Pandya</h2>
                <ul>
                    <li><a href="https://github.com/Janiece-Pandya"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="image-area">
            <div class="img-wrapper">
                    <img src="./public/images/jg.jpg" alt="Jiacheng Guo">
                    <h2>Jiacheng Guo</h2>
                    <ul>
                        <li><a href="https://github.com/gjc921019"><i class="fab fa-github"></i></a></li>
                    </ul>
            </div>
        </div>

        <div class="image-area">
            <div class="img-wrapper">
                    <img src="./public/images/km.jpg" alt="Kenneth Mason">
                    <h2>Kenneth Mason</h2>
                    <ul>
                        <li><a href="https://github.com/masonkm"><i class="fab fa-github"></i></a></li>
                    </ul>
            </div>
        </div>

        <div class="image-area">
            <div class="img-wrapper">
                    <img src="./public/images/rk.jpg" alt="Rakshak Kumar">
                    <h2>Rakshak Kumar</h2>
                    <ul>
                        <li><a href="https://github.com/rakshak10"><i class="fab fa-github"></i></a></li>
                    </ul>
            </div>
        </div>
</div>