<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/rating/">MAKE ANOTHER COMMENT</a>
            <a href="/aboutus">ABOUT-US</a>
            <a>HOW IT WORKS</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>

<div class="rateAgain">
    <h1> Re-comment and re-rate {{course.courseTitle}} {{course.courseName}} </h1>
    <form action="post" method="POST" class="new-comment-form">
        <label for="comment">Make a comment </label><input class="ip-new-comment-form" type="text" name="comment" id="comment"/>
        
        <br>
        
        <label for="rating">Rate a score(max is 5.0) </label><input class="ip-new-comment-form" type="number" name ="rating" id="rating"/>
        
        <br>

        <button class="reCommentButton" type="submit">Submit</button>
    </form>
</div>