<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/registration/">MAKE ANOTHER SEARCH</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>
<section>
    {{#if hasError}}
    <h1>Drop failed because {{error}}</h1>
    {{else}}
    <h1>Drop successfully</h1>
    {{/if}}
</section>