
        <header>
            <h1>{{err}}</h1>
        </header>

        <br>

        <div class="err-img">
        <img src="https://media.giphy.com/media/c2je7XmmNRCjC/giphy.gif">
        </div>
       
    	<div class="err-page">
        	<a href="/">TAKE ME BACK TO HOME PAGE</a>
    	</div>
