{{!-- JG added --}}
<div class="err-msg">
    <h1>{{err}}</h1>
</div> 

<br>

<div class="err">
        <div class="err-img">
            <img src="https://media.giphy.com/media/c2je7XmmNRCjC/giphy.gif" alt="Oops!">
        </div>

        <br>
       
    	<div class="err-page">
        	<a href="/">CLICK HERE TO BACK TO LOGIN PAGE</a>
    	</div>

</div>

<div class="wrapper">
    <ul class="panels">
      <li>
        <div class="front" style="background: #0073ea">Hover</div>
        <div class="back" style="background: #4c8fea">Sorry</div>
      </li>
      <li>
        <div class="front" style="background: #9126f4">Me</div>
        <div class="back" style="background: #a144f7">It's</div>
      </li>
      <li>
        <div class="front" style="background: #008b00">To</div>
        <div class="back" style="background: #4dd763">An</div>
      </li>
      <li>
        <div class="front" style="background: #c3333d">See</div>
        <div class="back" style="background: #e74853">Error</div>
      </li>
    </ul>
  </div>
