
<div class="err-msg">
        <h1>{{err}}</h1>
</div> 

        <br>

<div class="err">
        <div class="err-img">
            <img src="https://media.giphy.com/media/c2je7XmmNRCjC/giphy.gif" alt="Oops!">
        </div>

        <br>
       
    	<div class="err-page">
        	<a href="/">TAKE ME BACK TO LOGIN PAGE</a>
    	</div>

</div>
