    <div class="log-out">
    	<img src="https://media2.giphy.com/media/l2JhBpEAO8wxCE1Fe/giphy.gif">
    	<p class="log-out">You Have successfully logged out!</p>
    	<br>
    	<a href="/">GO BACK TO LOGIN PAGE</a>
    </div>