<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/rating/">MAKE ANOTHER COMMENT</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>
<div class="div-search">
    <h1> Comment and rate {{course.courseTitle}} {{course.courseName}} </h1>

    <form action = "post" method = "POST" class = "new-search-form">
        <label for="comment">Make a comment</label> <input class="ip-new-search-form" type="text" name="comment" id="comment"/> 
        
        <br>
        
        <label for="rating">Rate a score</label> 
        <select class="ip-new-search-form" name="rating" id="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        
        <br>

        <button type="submit" class="searchButton">Submit</button>
    </form>
</div>