{{!-- JG added --}}
<nav>
        
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/rating/">MAKE ANOTHER COMMENT</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>
<section class="ratingResult">
    {{#if hasError}}
    <h1 class="ratingResult">Rating failed because {{error}}</h1>
    {{else}}
    <h1 class="ratingResult">Rating {{operation}} successfully</h1>
    {{/if}}
</section>