{{!-- JG added --}}
<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>

<section>
    <h1>Rating your courses</h1>
    {{#if hasFinishedCourse}}
    <h2 class="rate">Rate and Comment on the following courses.</h2>
    <ul>
        {{#each finishedCourses}}
            <article>
                <li class="link-css">
                    <a href = "/courses/rating/details/{{this._id}}">
                    {{this.courseTitle}}  {{this.courseName}}</a>
                </li>
                <br>
            </article>
        {{/each}}
    </ul>
    {{else}}
    <p>Sorry, but you don't have any finished course yet</p>
    {{/if}}
</section>