<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/registration/">MAKE ANOTHER SEARCH</a>
            <a>ABOUT-US</a>
            <a>HOW IT WORKS</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>

<section>
    {{#if hasError}}
    <p>Register failed because {{error}}</p>
    {{else}}
    <p>Register successfully</p>
    {{/if}}
</section>