{{!-- JG added --}}
<script>
  /*Added AJAX - Kenny*/

  function loadMsg() {
    let vid = document.getElementById("validIDs");
    if(document.getElementById("courseID").value >= 17 || document.getElementById("courseID").value <= 0){
      vid.style.display = "inline-block";
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
         vid.innerHTML = this.responseText;
        }
      };
      xhttp.open("GET", "http://localhost:3000/ajax", true);
      xhttp.send();
    }else{
      vid.style.display = "none";
    }
  }
</script>
<nav>
        <div class="circleBehind">
            <a href="/mainPage">GO BACK</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>

<br>

<div class="row">

  <div class="column">
    <h1 class="h1-reg">Search by CourseID</h1>
    <p>Please type a course ID that you want to search</p>
    <form class="reg" action="search" method="POST">
        <label>
            Search course ID
            <input id="courseID" class="cID" type="number" name="courseID" oninput="loadMsg()"/>
        </label>
        <p  id="validIDs"></p>
        <br>
        <br>
        <button type="submit" class="searchButton">Search</button>
    </form>
  </div>

  <div class="column">
    <h1 class="h1-reg">Search by department</h1>
    <p>Please choose a department that you want to search</p>
    <form class="reg" action = "department" method = "POST">
        <label for="department">Department</label>
        <select class="dept" name="department" id="department">
          <option value="Computer Science">Computer Science</option>
          <option value="Electrical Engineering">Electrical Engineering</option>
        </select>
        <br>
        <br>
        <div>
        <button type = "submit" class="searchButton">Search</button>
        </div>
    </form>
  </div>

  <div class="column">
    <h1 class="h1-reg">Drop course</h1>
    {{#if booDrop}}
    <p>Please choose one of the following registeredCourses to drop</p>
    <ul>
        {{#each registeredCoursesList}}
        <article>
        <li>
            <a href = "/courses/registration/drop/{{this._id}}">{{this.courseTitle}}  {{this.courseName}}</a>
        </li>
        </article>
        {{/each}}
    </ul>
    {{else}}
    <p>Sorry, you don't have any registered course yet</p>
    {{/if}}
  </div>
</div>
